.AppDiv{
    background: white;
    width: 100%;
    min-height: 48.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header{
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: rgb(255, 210, 46);
}

.Body{
    min-height: 40rem;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
}

.Footer{
    height: 3rem
}

.taskListDiv{
    border-top: none;
    overflow: hidden;
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: top;
    width: 90%;
}

.taskList{
    width: 35%;
    overflow: hidden;
}
.BlueList{
    border: 0.5rem solid #658cd7;
    border-right:none;
    border-top: none;
}
.OrangeList{
    border-bottom: 0.5rem solid #ffeba3;

}
.GreenList{
    border: 0.5rem solid #35a97a;
    border-left:none;
    border-top: none;
}

.taskListHead{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 3rem;
}
.headText{
    align-items: center;
}
.blue{
    border-top: 0.5rem solid #658cd7;
    color: #658cd7
    
}
.orange{
    border-top: 0.5rem solid #ffeba3;  
    color:rgb(255, 210, 46);
}
.green{
    border-top: 0.5rem solid #35a97a;
    color: #35a97a;
}

.middleList{
    border-right: 1px solid black;
    border-left: 1px solid black; 
}
.middleBlue{
    background: #658cd7;
    height: 1rem;
}
.middleOrange{
    background: #ffeba3;
    height: 1rem;
}
.middleGreen{
    background: #35a97a;
    height: 1rem;
}

.listItemsDiv{
    min-height: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 1rem;
}
.middleList{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.BlueListBack{
    background: #e1e8f5;
}
.OrangeListBack{
    background: #fcf8e6;
}
.GreenListBack{
    background: #a7d6c3;
}
