.mainFormdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.mainForm{
    border: 1px solid white;
    width: 25rem;
    height: 2.5rem;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
}

.addTaskBar{
    height: 2rem;
    width: 75%;
    background: none;
    border: none;
    color: white;
}

.addTaskBtn{
    height: 2rem;
    width: 5rem;
    background-color: white;
    border: none;
}

.addTaskBtn:active{
    background: gray;
}