.mainFormdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25rem;
    background: rgb(100,100,230);
    color: rgb(210,210,255);
    margin-bottom: 4rem;
}

.mainForm{
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.taskTitleDiv, .taskDescDiv, .taskDateDiv, .taskTimeDiv{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
}

.addTaskBar{
    height: 2rem;
    background: none;
    border: none;
    background: rgb(210,210,255);
    color: rgb(100,100,230);
    border: 1px solid rgb(210,210,255);
}
.addTaskBar::placeholder{
    color: rgb(100,100,230);
}
.addTaskBar:focus{
    outline: none;
}

.desc{
    background: rgb(210,210,255);
}

.addTaskBtn{
    height: 2rem;
    width: 5rem;
    background-color: white;
    border: none;
}

.addTaskBtn:active{
    background: gray;
}