.mainCounterDiv{
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    align-items: center;
}

.counter{
    border-radius: 20px;
    overflow: hidden;
    width: 25rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 0px;
}

.counterText{
    height: 2rem;
    width: 100%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.reddiv{
    background: #d0312d;
    color: rgb(255, 220, 220);
}

.yellowdiv{
    background: #ffa500;
    color: rgb(255, 255, 220);
}

.greendiv{
    background:  #138808;
    color:rgb(220, 255, 220);
}

.redtext{
    color: #d0312d;
    font-size: 36px;
    font-weight: bold;
}


.yellowtext{
    color: #ffa500;
    font-weight: bold;
    font-size: 36px;
}


.greentext{
    color: #138808;
    font-size: 36px;
    font-weight: bold;
}

.disable{
    display: none;
}


