.mainHomeDiv{
    width: 100%;
    height: fit-content;
    color: black;
    padding-bottom: 4rem;
    border-radius: 20px;
    overflow: hidden;

}

.mainHeroDiv{
    height: auto;
    padding: 0px;
    margin: 0px;
}

.taskLists{
    display: flex;
    direction: rows;
    width: 100%;
    justify-content:space-evenly;
}
.listLine{
    border: 1px solid black;
    height: auto;
    width: 0px;
}


.listdiv{ 
    border-radius: 20px;
    width: 25rem;
    display: flex;
    flex-direction: column;   
    align-items: center;
    height: fit-content;
    padding-bottom: 3rem;
}

.listname{
    width: 23rem;
    text-align: center;
    height: fit-content;
}
